#background{
    background-color:lightgrey;
    opacity:0.8;
    height:2000px;
    width:100%;
    height:100%;
  }
  #header{
    font-family: 'Shalimar', cursive;
    font-size:50px;
    font-weight:bold;
    margin-top:12px;
    margin-left:45px;
    display:flex;
    overflow:hidden;
  }
  #nav_bar{
    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color:lightgrey;
    z-index:1;
    
  }
  #header-img{
    height:60px;
  }
  #head{
    margin-left:25px;
  }
  #nav_home{
    margin-left:200px;
  }
  #nav_video{
    color:purple;
    font-size:35px;
    margin-left:85px;
  }
  #nav_price{
    color:purple;
    font-size:35px;
    margin-left:85px;
  }
  #form{
    text-align:center;
    padding-top:100px;
    font-family:lobster,sans-serif;
    font-weight:bold;
    font-size:25px;
  }
  #email{
    margin-top:10px;
    height:25px;
    width:250px;
    border-radius:8px;
    border-width:3px;
  }
  input:hover{
    border-width:8px;
  }
  #button{
    width:150px;
    height:25px;
    background-color:lightgreen;
    color:darkgreen;
    font-family:sans-serif;
    font-size:15px;
    font-weight:bold;
    border-radius:8px;
  }
  #speciality1{
    display:flex;
  }
  #img1{
    transform: scale(0.5);
    margin-top:60px;
  }
  #img1_descp{
    margin-top:120px;
    font-size:20px;
    text-align:left;
  }
  #img1_descp_long{
    font-size:15px;
    text-align:left;
    font-weight:normal;
  }
  #speciality2{
    display:flex;
  }
  #img2{
    transform: scale(0.5);
    margin-left:-10px;
  }
  
  #img2_descp{
    margin-top:40px;
    margin-left:-17px;
    font-size:20px;
    text-align:left;
  }
  #img2_descp_long{
    font-size:15px;
    text-align:left;
    font-weight:normal;
  }
  #speciality3{
    display:flex;
  }
  #img3{
    transform: scale(0.5);
    margin-left:-10px;
  }
  #img3_descp{
    margin-top:40px;
    margin-left:-33px;
    font-size:20px;
    text-align:left;
  }
  #img3_descp_long{
    font-size:15px;
    text-align:left;
    font-weight:normal;
  }
  #video{
    margin-top:150px;
    position:center;
    margin-bottom:80px;
  }
  #video_descp{
    font-size:40px;
    margin-bottom:30px;
  }
  #price{
    display:flex;
    width:700px;
    position:center;
    margin:auto;
  }
  #silver{
    background-color:white;
    border-style:solid;
    border-color:black;
    border-width:2px;
    font-weight:normal;
    font-size:20px;
    line-height:45px;
  }
  #silver_heading{
    background-color:grey;
    font-size:30px;
  }
  #gold{
    background-color:white;
    border-style:solid;
    border-color:black;
    border-width:2px;
    font-weight:normal;
    font-size:20px;
    line-height:45px;
  }
  #gold_heading{
    background-color:grey;
    font-size:30px;
  }
  #diamond{
    background-color:white;
    border-style:solid;
    border-color:black;
    border-width:2px;
    font-weight:normal;
    font-size:20px;
    line-height:45px;
  }
  #diamond_heading{
    background-color:grey;
    font-size:30px;
  }
  #footer{
    background-color:lightgrey;
    font-size:15px;
    margin-top:15px;
    text-align:right;
    font-weight:bold
  }
  #subscribe_button{
    background-color:yellow;
    border-radius:5px;
    transform:scale(1.8)
  }
  button:hover{
    color:red;
  }